doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/!public/stylesheets/style.css')
  body
    div#wapper
      header
        a(href="/")
          img(src="/!public/images/logo.png")
        div
          ul
            li: a(href="#{path}") View
            li: a(href="#{path}?edit") Edit
            li: a(href="#{path}?move") Move
            li: a(href="#{path}?delete") Delete
            li: a(href="#{path}?attach") Attach
          div 
            - for(var i = 0; i < bread.length; i++)
              = "/"
              a(href="/#{bread.slice(0, i+1).join("/")}") #{bread[i]}
      article
        block content
