doctype 5
html
    head
        title #{notename}::#{title}
        link(rel='stylesheet', href='/!public/stylesheets/style.css')
    body
        div#wapper
            header
                a(href="/")
                    img(src="/!public/images/logo.png")
                -if(config.security)
                    div(id ="user")
                        -if(session.user)
                            span #{session.user}
                            a(href="/!logout?redirect=#{path.encode()}") logout
                        -else
                            form(action="/!login?redirect=#{path.encode()}", method="post")
                                input(type="text", placeholder="id", name="id")
                                input(type="password", placeholder="password", name="password")
                                input(type="submit", value="login")
                -if(!disableMenu)
                    div
                        ul
                            li: a(href="#{path}") View
                            li: a(href="#{path}?edit") Edit
                            li
                                a(href="#") More
                                ul
                                    li: a(href="#{path}?delete") Delete
                                    li: a(href="#{path}?attach") Attach
                                    li: a(href="#{path}?move") Move
                                    li: a(href="#{path}?find") Find
                                    li: a(href="#{path}?history") History
                                    li: a(href="#{path}?presentation") Presentation
                                    li.seperater
                                    li: a(href="/!signup?redirect=#{path.encode()}") Sign Up
                        div(id="breadcrumbs")
                            -for(var i = 0; i < bread.length; i++)
                                = "/"
                                a(href="/#{bread.slice(0, i+1).join('/')}") #{bread[i]}
                -if(msg.warn.length != 0)
                    p.msg-warn #{msg.warn}
                -else if(msg.info.length != 0)
                    p.msg-info #{msg.info}
                -else
                    p.msg-dynamic#message
            block content
        script(src="/!public/shotcut.js")
        block scripts
