doctype html
html
	head
		meta(charset="utf-8")
		title #{notename}::#{title}
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="/!public/lib/reveal.js/css/reveal.css")
		link(rel="stylesheet", href="/!public/lib/reveal.js/lib/css/zenburn.css")
		link(rel="stylesheet", href="/!public/lib/reveal.js/css/theme/default.css", id="theme")
		link(rel="stylesheet", href="/!public/lib/reveal.js/css/print/pdf.css" type="text/css" media="print")
		//if lt IE 9
			script(src="/!public/lib/reveal.js/lib/js/html5shiv.js")
	body
		div.reveal
			div.slides !{wikiData}
		script(src="/!public/shotcut.js")
		script(src="/!public/lib/reveal.js/lib/js/head.min.js")
		script(src="/!public/lib/reveal.js/js/reveal.js")
		script(src="/!public/presentation.js")
		script.
			init("#{option.theme}","#{option.transition || "default"}");

