extends layout

block style
    link(rel='stylesheet', href='/!public/stylesheets/style.css')
    link(rel='stylesheet', href='/!public/stylesheets/admin.css')

block content
    article.userlist
        table
            tr
                th ID
                th E-Mail
                th Group
            for user, id in users
                tr
                    td #{id} 
                    td #{user.email}
                    td.group: select(value="editor")
                        for _, group in groups
                            if group == user.group
                                option(value="#{group}", selected) #{group}
                            else
                                option(value="#{group}") #{group}